<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>List of Registrations</title>
</head>
<body>
		
	<div layout:fragment="content">
	
    	<table class="table table-striped">
			<thead> 
				<tr> 
					<th>#</th> 
					<th>Name</th> 
					
					<th>Email</th> 
					
					<th>Address</th>
					
					<th>Phone Number</th>
					 					
				</tr> 
			</thead>
			<tbody>
				<tr th:each="registration, iterationStatus : ${registrations}">
					<td th:text="${iterationStatus.count}">1</td>
					<td th:text="${registration.name}">First Name</td>
					
					<td th:text="${registration.email}">Email Address</td>
					
					<td th:text="${registration.address}">Address</td>
					<td th:text="${registration.phoneNumber}">Salary</td>
					
					<td><a href="#" th:href="@{/registerforms/edit/} + ${registration.id}">Edit</a></td>
					<td><a href="#" th:href="@{/registerforms/delete/} + ${registration.id}">Delete</a></td>
			
				</tr>
			</tbody>
		</table>
		
		

	</div>
		
</body>
</html>